## SQL FOR DATA SCIENTIST ASSIGNMENTS SOLUTIONS

1.The IDs and durations for all trips of duration greater than 500, ordered by duration.

~~~ mysql
SELECT trip_id,duration 
FROM trips
WHERE duration > 500
~~~

2.Every column of the stations table for station id 84.

~~~ mysql
SELECT * 
FROM STATIONS
WHERE station_id = 84
~~~

3.The min temperatures of all the occurrences of rain in zip 94301.

~~~ mysql
SELECT mintemperaturef,events
FROM weather
WHERE zip = 94301 AND events LIKE 'Rain'
~~~

**------AGGREGATING AND GROUPING-----------**

1.What was the hottest day in our data set? Where was that?
~~~mysql
SELECT date,zip,meantemperaturef AS hotest_temp
FROM weather
ORDER BY meantemperaturef DESC
LIMIT 1
~~~
2.How many trips started at each station?
~~~mysql
SELECT start_station,
COUNT(*) AS count_station
FROM trips
GROUP BY start_station
~~~
3.What's the shortest trip that happened?
~~~mysql
SELECT *
FROM trips
ORDER BY duration 
LIMIT 1;
~~~
4.What is the average trip duration, by end station?
~~~mysql
SELECT end_station,
AVG(duration) AS average_duration
FROM trips
GROUP BY end_station
~~~

**-------------JOINS AND CTEs------------------------**

1.What are the three longest trips on rainy days?
~~~mysql
WITH
    rainyday
AS (
	SELECT zip, events
	FROM 
	weather
	WHERE events ='Rain'
	)
SELECT t.*,r.events
FROM
rainyday r
JOIN
trips t
ON
t.zip_code = r.zip
ORDER BY t.duration DESC LIMIT 3
~~~
2.Which station is full most often?
~~~mysql
WITH
  docksfull
AS(SELECT station_id,COUNT(docks_available) AS counts
  FROM status
  WHERE docks_available = 0
  GROUP BY station_id
   )
   
SELECT s.*, d.counts
FROM
docksfull d
JOIN
stations s
ON
d.station_id = s.station_id
ORDER BY d.counts DESC LIMIT 1
~~~
3.Return a list of stations with a count of number of trips starting at that station but ordered by dock count.
~~~mysql
WITH
   trip_table
AS (
    SELECT start_station,
	       COUNT(start_station) AS count_no_trips
	FROM 
	trips 
	GROUP BY start_station
) 
SELECT s.*,t.count_no_trips
FROM
stations s
JOIN
trip_table t
ON
s.name = t.start_station
ORDER BY dockcount
~~~
4.(Challenge) What's the length of the longest trip for each day it rains anywhere?
~~~mysql
WITH
trips_per_day
As(
   SELECT start_date,
	     MAX(duration) as max_duration
	FROM 
	    trips
	GROUP BY start_date
),
rainydays
AS(
   SELECT date,events
	FROM
	weather
	WHERE events = 'Rain'
)
SELECT t.start_date,r.events, MAX(max_duration) as max_duration
FROM
trips_per_day t
JOIN
rainydays r
ON
DATE(t.start_date) = DATE(r.date)
GROUP BY t.start_date,r.events, t.max_duration
ORDER BY max_duration DESC
~~~