### SQL SELF_SUFFICIENCY EXAM

#### Data exploration


```SQL
-- Write a query that allows you to inspect the schema of the naep table.
SELECT 
    column_name, 
    data_type
FROM 
    information_schema.columns
WHERE 
    table_name = 'naep';
```

```SQL
--Write a query that returns the first 50 records of the naep table.
SELECT
     *
FROM 
    naep
LIMIT 50;
```

```SQL
--Write a query that returns summary statistics for avg_math_4_score by state. 
--Make sure to sort the results alphabetically by state name.
SELECT 
     state,
	 AVG(avg_math_4_score) AS avg_math_4_by_state,
	 MAX(avg_math_4_score) AS max_avg_math_4_by_state,
	 MIN(avg_math_4_score) AS max_avg_math_4_by_state,
	 COUNT(avg_math_4_score) AS number_of_students
FROM 
     naep
GROUP BY 
     state	
ORDER BY 
     state;
```

```SQL
-- Write a query that alters the previous query so that it returns only the summary statistics 
-- for avg_math_4_score by state with differences in max and min values that are greater than 30.

SELECT 
     state,
	 AVG(avg_math_4_score) AS avg_math_4_by_state,
	 MAX(avg_math_4_score) AS max_avg_math_4_by_state,
	 MIN(avg_math_4_score) AS max_avg_math_4_by_state,
	 COUNT(avg_math_4_score) AS number_of_institutes
FROM 
     naep
GROUP BY
     state
HAVING 
     MAX(avg_math_4_score) - MIN(avg_math_4_score)  > 30
ORDER BY 
     state;
```

#### Analyzing your data

```SQL
-- Write a query that returns a field called bottom_10_states that lists the states in the 
-- bottom 10 for avg_math_4_score in the year 2000.
SELECT
     state AS bottom_10_states
FROM
     naep
WHERE 
     year = '2000'	 
ORDER BY 
     avg_math_4_score
LIMIT 10;
```

```SQL
--Write a query that calculates the average avg_math_4_score rounded to the nearest 2 decimal places 
--over all states in the year 2000.
SELECT 
    round(AVG(avg_math_4_score), 2) AS over_all_math_4_avg
FROM 
    naep
WHERE 
    year = '2000';
```

```SQL
--Write a query that returns a field called below_average_states_y2000 that lists all states 
--with an avg_math_4_score less than the average over all states in the year 2000.
WITH 
   state_avg 
AS
   (SELECT 
	    avg(avg_math_4_score) as avg_math_4_score_by_state
    FROM 
	    naep
    WHERE 
	    year = '2000'
    GROUP BY 
	    state)
SELECT 
     avg_math_4_score AS below_avg_states_2000, 
	 state
FROM 
   naep, 
   state_avg
WHERE 
   avg_math_4_score < avg_math_4_score_by_state;
```

```SQL
--Write a query that returns a field called scores_missing_y2000 that lists any states with missing 
--values in the avg_math_4_score column of the naep data table for the year 2000.
SELECT 
    state as  scores_missing_y2000
FROM 
    naep
WHERE 
    year = '2000' AND avg_math_4_score IS NULL;
```

```SQL
--Write a query that returns for the year 2000 the state, avg_math_4_score, and total_expenditure from the 
--naep table left outer joined with the finance table, using id as the key and ordered by total_expenditure 
--greatest to least. Be sure to round avg_math_4_score to the nearest 2 decimal places, 
--and then filter out NULL avg_math_4_scores in order to see any correlation more clearly.
SELECT 
    naep.state, 
	ROUND(naep.avg_math_4_score, 2) AS avg_math_4_score, 
	finance.total_expenditure
FROM 
    naep
LEFT OUTER JOIN 
    finance 
ON 
    naep.id = finance.id
WHERE 
    naep.year = '2000' AND avg_math_4_score IS NOT NULL
ORDER BY 
    finance.total_expenditure DESC;
```